body {
   /* will be set to the body */
	margin: auto; /* setting the outer spacing (margin) to auto */
	background-image:url(./images/tatin1.jpg); /* backgound set has an image */
	height: 100px ; /* set the height of the image */
	background-position: top; /* setting the posrition of the image in the background */
	background-size: cover; /* setting the size of the image to a set area */
    padding: 30px; /* setting the spacing from the egde of the screen */
}

h1{
    text-align: center; /* aligning the text to center of the page */
    color: rgba(34, 238, 68, 0.614); /* setting the color of the letters */
    font-size: 50px; /* setting the size of the font */
}

nav {
    text-align: center; /* setting the alinment odf the nav links */    
}

section {
    padding: auto; /* setting the spacing */
    font-family: 'Times New Roman', Times, serif; /* setting the style of font */
    font-size: large; /* setting the size of the font */
    color:rgb(249, 249, 248) /* setting the color of the font */
}